/*Fontes______________________________________________________________ */
@font-face {font-family:'Tommy_Regular'; src:url('FontGRAFF/MADE TOMMY Regular_PERSONAL USE.otf') format('opentype')}
@font-face {font-family:'Tommy_Ligth'  ; src:url('FontGRAFF/MADE TOMMY Thin_PERSONAL USE.otf')    format('opentype')}
@font-face {font-family:'Tommy_Bold'   ; src:url('FontGRAFF/MADE TOMMY Bold_PERSONAL USE.otf')    format('opentype')}
@font-face {font-family:'Tommy_Medium' ; src:url('FontGRAFF/MADE TOMMY Medium_PERSONAL USE.otf')  format('opentype')}

/*Formatos das Tags______________________________________________________________ */
    /*Button, Input e Select*/
      input,select,button,.button{height:30px; margin:3px; border-radius:255px; font-size:14px; transition:all 0.2s ease-in-out}      
      button>img, .button>img, input>img, select>img{margin:0px 5px} /*Não tem nenhum Botão com Imagem dentro! mas tbm pode ser SVG*/  
    /*Botões*/
      button,.button{color: #ffffff}
    /*Select*/
      .Dark select:has(option:checked:disabled){color:#ffffff4b}
      .Lite select:has(option:checked:disabled){color:#00000083}
    /*Input*/      
      .Dark input,.Dark select{background:#ffffff21; color:#ffffff; border:0px solid #b4b4b4}
      .Lite input,.Lite select{background:#ffffffb2; color:#000000; border:1px solid #727272}
        .Dark input:hover,.Dark select:hover{background:#ffffff33; transform:scale(1.02)}
        .Lite input:hover,.Lite select:hover{background:#ffffffd5; transform:scale(1.02)}
          .Dark input:focus{background: #ffffff42; border:1px solid #ff00ff79; box-shadow:0 0 10px #ff00ff7c}
          .Lite input:focus{                         border:1px solid #ff00fff5; box-shadow:0 0 10px #ff00fffb}
      .input_Mini{height: 18px;}

button,.button{background:var(--Degrade);background-size:500%;padding: 3px 6px}
button:hover,.button:hover{transform:scale(1.1);animation-name:BtnBaby;animation-duration:0.4s;animation-timing-function:ease-in-fas;animation-fill-mode:forwards;}
button:active,.button:active{transform:scale(0.95)}

.n0  { display: none; }
.n1  { display: none; }
.n2  { display: none; }
.n3  { display: none; }
.n4  { display: none; }
.n5  { display: none; }
.n6  { display: none; }
.n7  { display: none; }
.n8  { display: none; }
.n9  { display: none; }
.n10 { display: none; }
.n11 { display: none; }
.n12 { display: none; }
.n13 { display: none; }
.n14 { display: none; }
.n15 { display: none; }
.n16 { display: none; }
.n17 { display: none; }
.n18 { display: none; }
.n19 { display: none; }
.n20 { display: none; }


/*Anailsar depois*/
#Alert{padding: 15px;box-shadow: 10px 10px 20px black;animation: modal 0.5s;}
.Dark #Alert{background:#1b1b1b}
.Lite #Alert{background:#ffffff}
.Dark #ModalNota{background:#ffffff;color:black}