/*Fontes______________________________________________________________ */
@font-face {font-family:'Tommy_Regular'; src:url('FontGRAFF/MADE TOMMY Regular_PERSONAL USE.otf') format('opentype')}
@font-face {font-family:'Tommy_Ligth'  ; src:url('FontGRAFF/MADE TOMMY Thin_PERSONAL USE.otf')    format('opentype')}
@font-face {font-family:'Tommy_Bold'   ; src:url('FontGRAFF/MADE TOMMY Bold_PERSONAL USE.otf')    format('opentype')}
@font-face {font-family:'Tommy_Medium' ; src:url('FontGRAFF/MADE TOMMY Medium_PERSONAL USE.otf')  format('opentype')}

:root{
  --CSS1btn:   linear-gradient(to right,#434343,#73008A,#FF5900);
  --CSS3btn:   linear-gradient(135deg, #E8778D, #C151A8);
  --CSS3btnDk: linear-gradient(135deg, #810483, #b8636e);
  --CSS3btnLt: linear-gradient(135deg, #B654B8,#F0A8B2);
  --CSS3TblLt: linear-gradient(135deg, #ECD1EA,#ffffff);
  --CSS1Fnd:   linear-gradient(#1f1f1f,#101010) center center no-repeat fixed;
}

/*Formatos das Tags______________________________________________________________ */
    /*Body*/
      body.Lite.CSS1{background: #ffffff       ;color:#000000}
      body.Dark.CSS1{background: var(--CSS1Fnd)  ;color:#ffffff}
      body.Lite.CSS2{background: #ffffff       ;color:#000000}
      body.Dark.CSS2{background: #120c16       ;color:#ffffff}
      body.Lite.CSS3{background: var(--CSS3btnLt);color:#3a0027;
            background-size: cover;
      background-position: center;
      background-attachment: fixed;
      }
      body.Dark.CSS3{background: var(--CSS3btnDk);color:#ffffff}

    .copybody {
      background: var(--CSS1Fnd);
      background-repeat: no-repeat;
      background-size: 100vw 100vh;
      background-position: 0 -106px; /* "recorte" do degradê */
    }
    .CSS3 .copybody {
      background: var(--CSS3btnLt);
      background-repeat: no-repeat;
      background-size: 100vw 100vh;
      background-position: 0 -106px; /* "recorte" do degradê */
    }

    /*Button, Input e Select*/
      input,select,button,.button,.Interup{height:30px; margin:3px; border-radius:255px; font-size:14px; transition:all 0.2s cubic-bezier(0.8,0,0.8,2.4);display:flex;justify-content: center;align-items: center;gap: 3px;}
      :is(button,.button,input,select)>:is(img,svg){height:18px; fill:#ffffff}
      .Dark input:focus,.Dark select:focus{background:#ffffff42; border:1px solid #ff00ff79; box-shadow:0 0 10px #ff00ff7c}
      .Lite input:focus,.Lite select:focus{background:#ffffff00; border:1px solid #ff00fff5; box-shadow:0 0 10px #ff00fffb}
    /*Botões*/   
      .CSS1 :is(button,.button,.Interup i,.Chek input:checked+a,.Switch i){color:#ffffff; background:var(--CSS1btn); background-size:500%; padding: 0px 6px}
      .CSS1 :is(button,.button):hover                           {transform:scale(1.10); animation-name:BtnBaby;animation-duration:0.4s;animation-timing-function:ease-in-fas;animation-fill-mode:forwards;}
      .CSS1 :is(button,.button):active                          {transform:scale(0.95)}
      .CSS2 :is(button,.button,.Interup i,.Chek input:checked+a,.Switch i){color:#ffffff; background:#ff7300     ;border: 2px solid #ffae00; padding:0px 10px; font-family:Almarose-Medium}
      .CSS3 :is(button,.button,.Interup i,.Chek input:checked+a,.Switch i){color:#ffffff; background:var(--CSS3btn);border: 1px solid #ecc3c98e; padding:0px 10px; font-family:Almarose-Medium;box-shadow:inset 0 0 4px #fdfdfd5b, 3px 3px 8px #5c084123}
      .CSS3 :is(button,.button):hover                           {transform:scale(1.03);box-shadow: 0 0 5px #fff1f1c9,0 0 6px #fdeeee9a,0 0 10px #ffd6d679, 0 0 15px #ffd8d836, 0 0 20px #ffe9e94b;filter: drop-shadow(0 0 5px #E8778D),drop-shadow(0 0 10px #e8778e7c);} /*essa n t afuncionando por conflito com a de cima*/
      .CSS3 :is(button,.button):active                          {transform:scale(0.95);box-shadow: 0 0 5px #ff5c7d, 0 0 10px #ff5c7d;filter: drop-shadow(0 0 5px #ff5c7d);}
      .Dark button:focus,.FOC.Atv{border:1px solid #ff00ff79; box-shadow:0 0 10px #ff00ff7c}
      .Lite button:focus,.FOC.Atv{border:1px solid #ff00fff5; box-shadow:0 0 10px #ff00fffb}
      button.Block               {background: #797979 !important;border:1px solid #414141 !important}
      button.Mini                {height: 20px;}
      button                     {white-space: nowrap} /*Evitar quebra de Linha para todos Botões*/
    /*Interruptores*/
      .Interup,.Chek a,.Switch{background:#5c195117;box-shadow:inset 0 0 10px #00000030}
      .Interup i, .Switch i   {position:absolute;top:0;left:0;width:50%;height:100%;z-index:1;transition: all 0.3s cubic-bezier(0.8,0,0.8,1.4)}
      .Interup.Atv   i{left:50%}
      .Interup       a:nth-child(2){opacity:0.5}
      .Interup.Atv   a:nth-child(1){opacity:0.5}
      .Interup.Atv   a:nth-child(2){opacity:1.0}
      .CSS3 .Interup  {border-radius:255px}
      .CSS3 .Interup a{flex:1;text-align:center;color:#ffffff;z-index:2;transition:all 0.3s}
      .CSS3 .Interup a svg{width: 18px; height: 18px; fill: white; margin: 0px 10px;}
      .CSS3 .Switch  svg  {width: 18px; height: 18px; fill: white; margin: 0px 10px;}
      .CSS3 .Interup i{border-radius:255px}
    /*Check*/
      .Chek{gap:8px}
      .Chek a{width:26px;height:26px;border:1px solid #e298c663;border-radius:8px;transition:.1s;padding:0px !important}
      .Chek a svg{width:16px;height:16px;fill:#525252;opacity:0.5;transform:scale(.8);transition:.1s}
      .Chek input:checked + a svg{opacity:1;transform:scale(1);fill: #ffffff;}
      .Chek p{color: #ffffff}
    /*Switch*/  
      .Switch{border-radius: 50px}
      .Switch label {flex: 1;z-index: 2;color: #aaa;transition: color 0.3s ease; line-height: 30px}
      .Switch label:hover {color: #fff}
      .Switch i {padding: 0 !important;border-radius: 255px;top:-1;left:-1}
    /*Select*/
      .Dark select:has(option:checked:disabled){color:#ffffff4b}
      .Lite select:has(option:checked:disabled){color:#00000083}
    /*Input*/      
      .Dark input,.Dark select{background:#ffffff21; color:#ffffff; border:1px solid #b4b4b42c}
      .Lite input,.Lite select{background:#ffffffb2; color:#000000; border:1px solid #727272ee}
      .Dark input:hover,.Dark select:hover{background:#ffffff33; transform:scale(1.02)}
      .Lite input:hover,.Lite select:hover{background:#ffffffd5; transform:scale(1.02)}
      input.Pcy,select.Pcy,.Interup.Pcy   {background:#00000018; color:#ffffff; border:1px solid #ef3aff}
      input.Pcy::placeholder              {color:#ffffff ; opacity:0.5}
      .CSS3 :is(input,select,.imita){background:#ffffff41; color:#27000cc9; border:1px solid #ffffff3f ; box-shadow:inset 0 0 4px #fdfdfd5b}
      .CSS3 :is(input,select,.imita)::placeholder{color:#612d4ba8}
      .CSS3 .imita{border: none !important; color: #008000;} /*Gambiarra*/
    /*Options*/ 
      .CSS1.Dark option  {color:#ffffff  ; background:#3d3d3d}
      .CSS1.Lite option  {color:#000000  ; background:#ffffff}
      .CSS1.Dark optgroup{color:#ffffff3f; background:#3d3d3d; font-size:10px; text-align:left; padding-left:80px}
      .CSS1.Lite optgroup{color:#00000038; background:#ffffff; font-size:10px; text-align:left; padding-left:80px}
    /*Header*/ 
      .CSS1 header{color:#ffffff;background:url(./SVG/Fundo.png); background-size:cover}
      .CSS2 header{color:#ffffff;background:url(./SVG/Fundo.png); background-size:cover}
      .CSS3 header{color:#ffffff;background:#c027b3}
      .CSS3 header{color:#ffffff;background:linear-gradient(116deg, #f570be, #c027b3)}
    /*Table*/ 
      table{text-align:center;border-collapse:collapse;transition: width 0.4s ease-in-out} /*Parece q n ta funcionando a animação*/
          .CSS1.Dark .TBLAA table{background: #ffffff ; color: #000000 !important; }
          .CSS1.Lite .TBLAA table{background: #ffffff ; }
          .CSS3.Lite .TBLAA table{background:var(--CSS3TblLt) ; box-shadow:0 5px 10px #a700a72f}
    /*thead e tfoot*/ 
      .CSS3.Lite .TBLAA thead tr{background: var(--CSS3btn);color:#ffffff; height: 30px;box-shadow:inset 0 0 4px #fdfdfd5b}
      .CSS3.Lite .TBLAA tfoot tr{background: var(--CSS3btn);color:#ffffff; height: 60px;box-shadow:inset 0 0 4px #fdfdfd5b}
      .CSS1.Dark .TBLAA tbody tr{border:1px solid #cccccc27}
      .CSS1.Lite .TBLAA tbody tr{border:1px solid #00000027}
      .TBLAA th{padding:4px 6px}
      .CSS1.Dark .TBLAA thead{background:#8b0085;color:#ffffff}
      .CSS1.Lite .TBLAA thead{background:#8b0085;color:#ffffff}
      .CSS1.Dark .TBLAA tfoot{background:#8b0085;color:#ffffff}
      .CSS1.Lite .TBLAA tfoot{background:#8b0085;color:#ffffff}
      .CSS1 .TBLAA .hMin tfoot td{padding:8px 6px} /*Não sei a Necessidade*/
    /*Tbody*/
      .CSS3.Lite .TBLAA tbody tr{border-bottom:2px solid #7c005733}
      .CSS1.Dark .TBLAA select{color: #000000 !important;}

    /*Outros Tabela*/
      .TBLAA td {height: 37px;}
      .TBLAA td img      {max-width: 35px;max-height: 17px;width: auto;height: auto;object-fit: contain;}
      .TBLAA td .svg-Lixo{height:17px;width:auto; fill:#ffbb00}
      
      

      .CSS1.Lite .TBLAA td.Foco{background:#c300ff2a}
      .CSS1.Dark .TBLAA td.Foco{background:#ffffff18}     
      .TBLAA .hMin td{height:10px}
      .TBLAA .hMin td select,.hMin td input{height: 17px !important}
      
      /*Depois Analisar esse AutoCom*/
      .CSS1 .TBLAA .AutoComp    {background: #94949473}
      .CSS1 .TBLAA .AutoComp.Cor{background: #ffffff00}
      .CSS3 .TBLAA .AutoComp    {background: #f08cb64f}
      .CSS3 .TBLAA .AutoComp.Cor{background: #ffffff00}




/*Anailsar depois*/
#Alert{padding: 15px;box-shadow: 10px 10px 20px black;animation: modal 0.5s;}
.Dark #Alert{background:#1b1b1b}
.Lite #Alert{background:#ffffff}
.Dark #ModalNota{background:#ffffff;color:black}


input.Error {background:red}
select.Error{background:red}
input.Error:focus{background:red}
input.Error:hover{background:red}

  /*DivConfig*/
  .Body1 .DivSlid{        height:50px}
  .Body2 .DivSlid{top:0px;height:40px}
  .PagPEsq             {transition: all ease-in-out 0.3s}
  .PagPEsq   :is(a,img){transition: all ease-in-out 0.3s}
  .Body1 .PagPEsq input{border: none}
  .Body1 .PagPEsq{width:0px;pointer-events:none}.Body1 .PagPEsq :is(a,img){opacity:0 !important}
  .Body2 .PagPEsq{width:450px                  }.Body2 .PagPEsq :is(a,img){opacity:1}
                
.Dark *::-webkit-scrollbar             {width: 10px;height:10px}
.Dark *::-webkit-scrollbar-track       {background: #0000006a}
.Dark *::-webkit-scrollbar-thumb       {background: #5d5d5da5; border-radius:500px}
.Dark *::-webkit-scrollbar-thumb:hover {background: #555555}

.Lite *::-webkit-scrollbar             {width: 10px;height:10px}
.Lite *::-webkit-scrollbar-track       {background: #af839e3d}
.Lite *::-webkit-scrollbar-thumb       {background: #6d0b4748; border-radius:500px}
.Lite *::-webkit-scrollbar-thumb:hover {background: #7a067e}


/*Basicamente são CSS de cores dos Suggs e Links e Bandeijas*/
    .CSS1 .BndjSUG,.CSS1 .BndjTBL, .CSS1 .BndjPsq
                        {background:#bb0092; border-radius:10px}
    .CSS1 .BNdj         {border:3px #bb0092 solid}
    .CSS1 .BNdj > a     {      fill:#bb0092}
    .CSS1 .BjConf       {background:#bb0092;}
    .CSS2 .BndjSUG,.CSS2 .BndjTBL, .CSS2 .BndjPsq
                        {background:#ee6e19; border-radius:10px}
    .CSS2 .BNdj         {border:3px #ee6e19 solid}
    .CSS2 .BNdj > a     {      fill:#ee6e19}
    .CSS2 .BjConf       {background:#ee6e19;}
    .CSS3 .BndjSUG,.CSS3 .BndjTBL, .CSS3 .BndjPsq
                        {background:#ce3783e1; border-radius:24px ; backdrop-filter:blur(6px) ; box-shadow:inset 0 0 4px #ce3782, 3px 3px 8px #3b0529b6 }
    .CSS3 .BNdj         {border:2px #f05da6 solid}
    .CSS3 .BNdj > a     {      fill:#ce3782}
    .CSS3 .BjConf       {background:#ce3782;}
    .CSS3 .BNdj table   {border-radius:15px; overflow:hidden}

        .Lite .Sugg{background: #ffffff;color:#000000}
        .Dark .Sugg{background: #585858;color:#ffffff}
        .CSS3 .Sugg{background: var(--CSS3TblLt)}
    .Lite .Sugg > *:hover {background: #aa009c; color:#ffffff}
    .Dark .Sugg > *:hover {background: #757575}

/* Skeleton box */
  @keyframes shimmer {0%{background-position: 200% 0}100%{background-position:-200% 0}}
  .Sklt{
    height: 16px !important;border-radius: 4px; margin: 3px;
    background: linear-gradient(90deg,#e0e0e0 25%,#f0f0f0 50%, #e0e0e0 75%);
    background-size: 200% 100%;
    animation: shimmer 1.2s infinite linear
  }

.MyAlert{background:#28a745;color:#fff;padding:12px 20px;border-radius:8px;box-shadow:0 4px 12px #0000004d}


.Fixed{position: fixed}

.CSS1 .Boxy {background:#ffffff0a}
.CSS3 .Boxy {background:linear-gradient(to top,#ffffff5d,#ffffff09);box-shadow:inset 0 0 8px #fdfdfd6e}


.aaa{color: #ff000069; background: rgb(234,153,153);}

.bckG{background-size:cover;background-position:center;background-repeat:no-repeat}


/*PAGINAD NOVAS DE PROGRAMA DE DESIGNER INDEPENDENTE*/

.f-gren { fill: #8dff57} ; .c-gren { color: #8dff57}
.f-yelw { fill: rgb(255, 219, 111)}
.f-roxo { fill: rgb(174, 143, 253)}
.f-azul { fill: rgb(125, 173, 255)}
.f-redd { fill: rgb(255, 128, 128)}
.f-Lrnj { fill: rgb(250, 125, 9)} 

.FModal{position:fixed;top:0px; left:0px;width:100%;height:100%;z-index:999;background:#00000046;backdrop-filter:blur(10px);animation:FModal 0.5s}
.FModal > *{padding:15px; box-shadow: 10px 10px 20px black;animation: modal 0.5s}
.Dark .FModal>*{background:#1b1b1b}
.Lite .FModal>*{background:#ffffff}

.XX{position: absolute;top: 10px;right: 10px;}

.RS {gap:1px}
.RS i:nth-child(1){transform: scale(0.6) ; font-style: normal ; transform-origin: right center}
.RS i:nth-child(3){transform: scale(0.6) ; font-style: normal ; transform-origin: left center}  

.Drop       { border:2px dashed #a1c2d8; border-radius:10px; text-align:center; background:#ffffff1a; cursor:pointer; position:relative; overflow:hidden;  -height:60px}
.Drop:hover { background:#63a6dd33}.Drop.hover { background:#63a6dd33}
.Drop img   { width:auto ; height:80px; border-radius:10px}


.BOX {padding:18px;border-radius:15px;background:#111111f8;border:1px solid #222222}
.box {padding:18px;border-radius:15px;background:#6363631a;border:1px solid #494949}
.Box {padding:6px ;border-radius:15px;background:#272727ce;border:1px solid #929292 ; z-index:9999 ; backdrop-filter: blur(10px)}

.BtnRed{background: #ff4343 !important;}
.BrnOff{background: #acacac !important; pointer-events:none}