input[type="number"]::-webkit-inner-spin-button,/*remover Spinner*/
input[type="number"]::-webkit-outer-spin-button{-webkit-appearance: none;margin: 0}

@font-face {font-family: 'Tommy_Regular';
    src: url('Font/MADE TOMMY Regular_PERSONAL USE.otf') format('opentype');}
@font-face {font-family: 'Tommy_Ligth';
  src: url('Font/MADE TOMMY Thin_PERSONAL USE.otf') format('opentype');}
@font-face {font-family: 'Tommy_Bold';
  src: url('Font/MADE TOMMY Bold_PERSONAL USE.otf') format('opentype');}
@font-face {font-family: 'Tommy_Medium';
  src: url('Font/MADE TOMMY Medium_PERSONAL USE.otf') format('opentype');}

:root{
  --Laranja: #fa7d09;
  --Branco: #ffffff;
  --Cor-Final: #FF5900;
  --Degrade: linear-gradient(to right,#434343,#73008A,#FF5900);
  --MargemImput: 5px 15px 15px 15px;
  --DegradeFundo:linear-gradient(#1f1f1f,#101010) center center no-repeat fixed;
  --degradeFonte:linear-gradient(to bottom,#E312DF, #FA077D, #ff6f00);
  --CorInput:#303030;
  --Lite:'Tommy_Ligth','Lexend Deca','Arial';
  --Rglr:'Tommy_Regular','Lexend Deca','Arial';
  --Bold:'Tommy_Bold','Lexend Deca','Arial';
  --Medi:'Tommy_Medium','Lexend Deca','Arial';
  
}

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  border: none;
  text-decoration: none;
  color: var(--Branco);
  font-family: var(--Rglr);
  font-size: 12px;
  letter-spacing: 0.7px;
}

.Ct{display: flex;flex-wrap: wrap;justify-content: center;align-items: center;}
.Start{display: flex;justify-content: flex-start;align-items: center;}
.Start2{display: flex;align-items: flex-start;flex-direction: column;}
.End{display: flex;justify-content: flex-end;align-items: center;}
.Cl{display: flex;flex-direction: column;}
.Rw{display: flex;flex-direction: row;}
.Bt{width: 100%;display: flex;justify-content: space-between;align-items: center;}
.Ev{display: flex;justify-content: space-evenly;align-items: center;}
.Ct-Txt{text-align: center;}
.Fx{position: fixed;top:0;left: 0;}
.Hr{border-bottom: 1px solid #606060;}
.Rd{border-radius: 20px;}
.RD{border-radius: 255px;}
.w100{width: 100%;}
.w50{width: 50%;}
.w80{width: 80%;}
.cem{width:100%;}
.B{font-weight: bold;}
.Br{word-wrap: break-word;}
.Grn{background: #008000;}.CrCnz{color: #ffffff2f;}
.Red{background: #ff0000;}
.BackG{background: var(--DegradeFundo)}
.Wht{color: #ffffff;}
.Pddn-X{padding: 0% 5%;}
.Pddn-Y{padding: 3% 0%;}
.Pddn-XY{padding: 2% 4%;}
.Mgrn-PX{margin: 20px 0px;}
.tc{text-align:center;}
.FtLt{font-family: var(--Lite)}
.FtRg{font-family: var(--Rglr)}
.FtBd{font-family: var(--Bold)}
.FtMd{font-family: var(--Medi)}
.Rltv{position: relative}
.icon svg{width: 20px;height: 20px;}
.icon2 svg{width: 50px;height: 50px;}
.Hddn{overflow: hidden;}
.Opacy{opacity: 0}

html, body {
  touch-action: pan-x pan-y;
  /* cursor: default; */
  }
button,.Login,.ppt,.Close{
  cursor: pointer;}
button{
  background: #73008A; border-radius: 255px}

.Close svg{
  position: absolute;top: 15px;right: 15px;
  width: 10px;height: 10px;fill: #ffffff50;
  transition: all 0.3s ease;}
  .Close svg:hover{
    transform: scale(1.2) ;fill: #ff3c00;}
  .Close.clicked svg{
    transform: scale(0.8) rotate(360deg)}

#FormOrcamento{
  background: #202020;
  margin:15px;padding:5px;
  height: auto;
  overflow: hidden;
  animation: ShowForm 0.5s;
}@keyframes ShowForm {
  from {opacity: 0;transform: scale(0.5)}
    to {opacity: 1;transform: scale(1.0)}}
#FormOrcamento.CloseForm{
  animation: NoneForm 0.5s forwards;
}@keyframes NoneForm {
  from {opacity: 1;transform: scale(1.0)}
    to {opacity: 0;transform: scale(0.5)}}

#NewOrcamento{
  animation: ButtonShow 0.3s;
}@keyframes ButtonShow {
  from {opacity: 0;transform: scale(1.8)}
    to {opacity: 1;transform: scale(1.0)}}

.RoloTop{
  position: fixed;
  transform: scale(0.25);
  right: -80px;
  bottom: -80px;
  backdrop-filter: blur(5px);
  z-index: 5;
  border-radius: 50%;
  animation: RoloTopp 0.4s;
}@keyframes RoloTopp {
  from {opacity:0; transform: scale(0.25) translate3d(0, 200px, 0) }
    to {opacity:1; transform: scale(0.25) translate3d(0, 0, 0)}}
#RoloTop.roloTopOut{
  animation: RoloTopp2 0.4s;
}@keyframes RoloTopp2 {
    from {opacity:1; transform: scale(0.25) translate3d(0, 0, 0)}
      to {opacity:0; transform: scale(0.25) translate3d(0, 200px, 0)} }
#Div-CRUD{
  width: 95%;
  margin: 10px 0px;
  padding: 8px;
  animation: modal 0.7s;
}

#ClearCRUD svg{
  width: 20px;
  height: 20px;
  fill: #ffa600;
}

.Seta svg{
  fill: rgba(255, 255, 255, 0.3);
  width: 15px;
  height: 15px;
  transform: rotate(90deg);
  cursor: pointer;
}

.Tabela{
  overflow-y: auto;
  overflow-x: hidden;
  background: #0b0b0b79;
}

#ClearForm{
  position: absolute;
  top: 9px;
  right: 30px;
  transform: scale(0.9);
}

#Grupo-Cliente,#Grupo-Entrega{
  animation: modal 0.8s;
}

#imgnotta svg,#imgnotta2 svg{
  fill: white;
  height: 15px;
  width: auto;
  margin-left: 5px;
}

.MiniSenha{position: absolute;width:200px}
.error {border: 2px solid red}
.error::placeholder {color: red}

.Bandeija {
  position: absolute;z-index: 9999999999;}
.Bandeija > div {
  padding: 4px;
  cursor: pointer;
  background:#e4e4e4;
  }
.Bandeija > div:hover {
  background:#ff6600;}
.Bandeija > div > div:nth-child(2) {
  font-size: 12px;}

table{
  text-align: center;width: 100%;border-spacing: 2px 8px;}
  th{
    height: 25px;background: #373738;}
  table td:nth-child(4){
    font-size: 10px; color:#777777}
  table td:nth-child(8){
    background:#2f5000; font-size: 13px; border-radius:255px}
  table td:nth-child(8) > div > div > div:first-child{
    font-size: 8px ;margin-right: 2px;}

.HvrSVG *{
  fill: orange; color: orange; cursor: pointer;
  transform: scale(0.9);
}.HvrSVG:hover *{
  fill: #ff5100; filter: drop-shadow(0 0 5px #ff5100a2);
  color: #ff5100;
  transform: scale(1.0);}

#Rodape {
  border-top: 1px solid #ffffff3b;
  padding-top: 4px;
}#Rodape .HvrSVG div:nth-child(1){
  font-size: 9px;
  margin: 0px 3px 0px 5px;
}#Rodape .HvrSVG div:nth-child(2){
  font-size: 15px;}

#Contagem{
  position: absolute;
  top: 26px;
  left: 27px;
  margin: 0px 3px;}

.Slideheight-Out {
  animation: slideIn 0.4s ease reverse;}
.Slideheight-In {
  animation: slideIn 0.4s ease;
}@keyframes slideIn{
  from{height: 150px}
    to{height: 304.19px}}

input,select,.baby,#Div-Inpt-Mais div{
  width: 100%;height: 30px;
  font-size: 14px;border-radius: 255px;
  background: var(--CorInput);margin: 3px;
  text-align: center;
}input:hover, select:hover{
  background: #4d4d4d;
}
  
#Div-Inpt-Mais{
  width:170px;
}

#Div-Inpt-Mais > div .btnMais{
  width: 10px;
  height: 10px;
}

td > div{display: flex;align-items: center;justify-content: center;}
#CRUD input{font-size:12px;height: 25px;margin: 0}

@keyframes Transicao{0%{background-position-x: 0%;}100%{background-position-x: 90%;}}

.FontDGD{
  background:var(--degradeFonte);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent}


.Titlee{margin: 0 150 15 150;}
h1{font-size: 40px;font-family: var(--Bold)}
h2{font-size: 18px; color: var(--Laranja);}

.Logo{
  width:50px;
  margin: 4px 4px;
}
.ImgPerfil{
  width: 35px;
  margin: 4px 4px;
}

.FundoModal1{
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding-top: 0px;
  backdrop-filter: blur(10px);
  z-index: 999999999;
  background: rgba(0,0,0,0.5);
  animation: FndoModal 0.5s}
@keyframes FndoModal {from {opacity: 0;} to {opacity: 1;}}

.FundoModal{
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding-top: 0px;
  z-index: 999999999;
  background: rgba(0, 0, 0, 0);
}

.Cabecalho{background: #1b1b1b ; width: 100% ; height: 55px ; padding: 0px 10px}
.Pesquisa{ background: #444444 ; width: 50%   ; height: 25px ; text-align: center}
.Pesquisa:hover{background:#696969;}
nav{background:#444444;width: 100%; height: 35px;}

  nav a{height: 100%; padding: 0px 10px;}
    nav a:hover{color: var(--Laranja); background: #2b2b2b;}
      nav a:active{background: #0c0c0c;}
      .ativo{background: #353535;}

#FormOrc  {width:60%; height: 350px; padding:50px 15px;}
#DivResult{width:40%;}

form div[id*=Inpt]{
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  margin: 4px}

.inptFormOrc{
  display: flex; width: 100%; padding: 0px 8vw }

#Grupo-Medidas{padding: 0px 5vw;}

.foto{
    width: 45%;
    border-radius: 10px;
    margin: 5px;
    margin-bottom: 8px;}
    
.botaum{
    width: 100%;
    margin-top: 8px;
    align-items: center;}

.baby{
  width: 150px;
  height: 30px;
  background:var(--Degrade);
  background-size: 500%;
  transition: 0.1s ease-in-out;
  }
      .baby:hover{
          width: 160px;
          height: 35px;
          animation-name: Transicao;
          animation-duration: 0.5s;
          animation-timing-function: ease-in-fas;
          animation-fill-mode: forwards; /*pra congelar no fim*/}
      .baby:active{
          width: 155px;
          height: 32px;}

.modalloginn{height: 400px;}            

.Modalzinho{
  background: rgb(27, 27, 27);
  width: 300px;
  border-radius: 20px;
  padding: 15px;
  box-shadow: 10px 10px 20px black;
  animation: modal 0.5s;}
          @keyframes modal {
              from { opacity: 0;transform: translate3d(0, -80px, 0)}
              to { opacity: 1;transform: translate3d(0, 0, 0);}}

  .Botaozin{
      color:black; 
      width: 40%;
      height: 30px;
      border-radius: 20px}
  .Botaozin:hover{background:#606060}
  .Loginn{font-size: 40px}








.circle{
  background-image: linear-gradient(#550047,#f15900);
  width: 40px; height: 40px;
  border-radius: 255px;}
.bloco{
  height: 200px;
  width: 300px ;
  margin: 5px;
  background: #262626;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  border-radius: 20px;
  overflow: hidden;}
  .BlocoTitulo{
      width: 100%;
      height: 35px;
      background: rgb(19, 19, 19);
      padding: 4px 10px;}

  .BlocoTNome{font-size: 16px}
  .BlocBtn{background: #1c1c1c; height: 40px; padding: 4px;}
  .BtnBloc{height:25px; width:100px;}
  .BtnBloc:hover{height:30px; width:110px;}
  .BlocoLista{height: 100%;}

  .Lista{
      margin-left: 40px;
      color: #ffffff;
      font-size: 19px;
      line-height: 40px;
      height: 50px;}

  

  .btn-group-xs > .btn, .btn-xs {
    padding: .25rem .4rem;
    font-size: .875rem;
    line-height: .5;
    border-radius: .2rem;
  }

#BodyRelatorio{display:none;}
#Resumo{width:100%}
#resultfilter1{
  background: #00000000;
  overflow-y: scroll;
  height: 75%;
  width: 90%;
  border-radius: 20px;
  }

#resultfilter1::-webkit-scrollbar {width: 10px;}
#resultfilter1::-webkit-scrollbar-track {background: #0000006a;}
#resultfilter1::-webkit-scrollbar-thumb {background: #5d5d5da5;border-radius: 5px;}
#resultfilter1::-webkit-scrollbar-thumb:hover {background: #555;}

.itemfilter{background: #ffffff13;
  border-radius: 20px;
  margin: 8px 0px;
  overflow: hidden;}

.itemfilter:hover{background: #ffffff25}

  hr {border: 0.1px solid #ffffff2e; margin: 4px 0px;}
.RstTitle {background: #0000004a; padding: 6px 3px;}
.Descricao > div > strong { font-size: 12px;}
.RstServ{margin-left: 6px}
.RstValrM2{padding-right: 8px;font-size: 12px;}
.RstValrM2 div{font-size: 9px;margin: 0px 4px;}
.RstValrDesc{color: #ffffff51;padding-right: 8px;font-size: 14px;position: relative;}
.RstValrDesc svg{fill: red;height: 20px;width: 57px;z-index: 1;position: absolute;top: 0px;left: 0px;}
.RstValrFinal{color: #00e61f;font-size: 20px}
.RstValrFinal > div{color: #00e61f;font-size: 12px;margin-right:4px;}
#FotoFilter img,.canvas, .SVGFilt{width:110px;height:90px;background-color: #d8d8d8;border-radius: 10px;}
#FotoItem img{width:95%;background-color: #d8d8d8;}
.BtnAdd{width:50px; height:20px;}
#resultfilter1 button {width: 100px;}

.SVGFilt svg{
  width: 40px;
  height: 40px;
  fill: #00000065;
}


#DivMissoes{
  width: 90%;
  background: #0c0c0cd8;
  border-radius: 15px;
  margin-top: 80px;
}

#Missoes{width: 90%}

#Missoes > div{
  align-items: center;
  width: 100%;
  background: #ffffff1e;
  margin: 8px;
  padding: 7px;
  border-radius: 255px
}

.Bolinha{
  background: white;
  width: 20px;
  height: 20px;
  border-radius: 255px}

.BL{
  width: 11px;
  height: 11px;}

.MissClnt{ width: 70%;}

.Missaum{
  background: #ffffff1f;
  font-size: 15px;
  border-radius: 20px;
  height: 25px;
  padding: 0px 20px}

.MissBtn{
  background: #135f0079;
  border-radius: 100px;
  padding: 0px 9px;
  height: 20px}

.R{background: #a34f00c0}

.MiniSenha{position: absolute; width:200px}

.background {
  position: fixed;
  top: 0;left: 0;
  width: 100%;height: 100%;
  background: #00000080;
  z-index: 999}

  #ModalNota * {color: black;}
  #ModalNota button {color: white;}
  #ModalNota h1{font-size:15px;}
  #ModalNota{padding: 20px; background: white;}
  #ModalNota > div{padding: 5px 0px;}
  #Nota-Clnt > div > div >div{margin: 0px 5px;}

.media30{width: 30%;}
.media80{width: 60%;}

.LogoNota > img{width: 50px; height: 50px;}

.Start2 p{
  margin: 1px 5px;
}

#DescrNOTTApdd div{
  font-size: 15px;
}

#LugarFotoNotta{
  margin-right: 3px;
}

.BTNota{height: 20px; padding: 0px 10px; margin: 0px 1.5px; background: #5F009E}
.magem{margin:5px 0px}

button > img{margin: 0px 5px}
input > img{margin: 0px 5px}
select > img{margin: 0px 5px}

#TabelaNotinha{text-align: center;border-collapse: collapse;border: #d8d8d8 solid 1px;}
#TabelaNotinha tr{background: #5F009E;color: white;font-size: 13px;}
#TabelaNotinha td{background: #ffffff;color: black; padding: 3px;font-size: 13px;}
#TabelaNotinha tfoot > tr > th {background: #575757}
#TabelaNotinha td:nth-child(5){font-size: 13px;color:#4f4f4f;}
#TabelaNotinha td:nth-child(6){font-weight: bold}

#divpaginfo, #divdesigner{flex-direction:column}
#Title-Info{font-size:24px}

.ModalPgmnt{
  background: rgb(31, 31, 31);
  border-radius: 20px;
  width: 400px;
  padding: 30px;
}

.ckecs{margin: 8px 0px}
.padins{padding-bottom: 15px; margin-bottom: 15px;}

.Ct.ckecs label{
  display: inline-block;
  margin-right: 10px;
  font-size: 16px;
  color: white;
}

input[type="checkbox"],input[type="radio"]{
  width: 16px;
  height: 16px;
  margin-right: 5px;
  border-radius: 3px;
  vertical-align: middle;
}

.horas{
  margin: 10px;
  padding: 5px;
  background: #262626;
  border-radius: 10px;
  width: 150px;
  text-align: center;
  font-size: 12px;
}

.horario{font-size: 17px}
.horabola{width: 20px; height: 20px; margin-right: 10px}
.gato{margin-top:100px}


@media (max-width: 500px) {
  h1{
    font-size:25px;
    text-align:center;
  }

  .Titlee{
    width:100%;margin:0; margin-top:5px;
  }

  .Pesquisa{width: 90%;}
  .Cabecalho{height: 100px;}
  nav{
    overflow-x: scroll;
    overflow-y: hidden;
  }
  nav::-webkit-scrollbar {display: none;}
  #FormOrc > h2{display: none;}
  #DivResult > h2{display: flex; margin: 8px 0px;}

  #Aba-Orcamento{width:100%;}
  #FormOrc{width:100%; ;height: auto; padding: 5px 15px;}
  #DivResult{width: 100%;}
  #resultfilter1{width: 90%; margin-bottom: 8px;}
  #Resumo{width: 100%}
  #resultfilter1 button {width: 70%; margin: 5px auto;}

}







.Mg{margin-top:10px;margin-bottom:10px;}

.error {border: 2px solid red}
.error::placeholder {color: red}

#optionsListClnt {
position: absolute;
top: 100px;
right: 100px;
width: 100px;
background-color: #fff;
z-index: 999;
}
#optionsListClnt > div {padding: 4px;cursor: pointer;background:#424242;}
#optionsListClnt > div:hover {background:#47083d;}


.Redi{
  height: 100vh;
}



#canvas{
  background-color: #d8d8d8;
  width: 200px;
  height: 200px;
}


.none{display: none;}




#Modal-Teclado{
  width: 95%;
  top: 210px;
}

#Modal-Teclado > div{
  display: flex;
  width: 100%;
}

#Modal-Teclado div div{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 17px;
  border-radius: 20px;
  background: #ffffff23;
  padding: 2px;
  margin: 2px;
  width: 100%;
  height: 35px;
}#Modal-Teclado div div:hover{
  background: #ffffff73;
}

#Grupo-Medidas input{
  touch-action: none;
}




#InputdeCor {
  width: 80%;
  height: 30px;
  border: 2px solid #ffffff2f;
  
}

#ListaCor {
  list-style: none;
}

#ListaCor li {
  width: 30px;
  height: 30px;
  margin: 2px;
  cursor: pointer;
}
