.BNdj    {transform:translate(-50%,0%); left:50%; z-index:500 ; /*width:250px*/ ; max-height:250px;  box-shadow:0 0 9px #00000069}
.BNdj > a{position:absolute ; bottom:100%; left:50%; transform:translate(-50%,0%); z-index:1; width:20px ; height:11px} /*essa é a Pontinha da Bndj*/

.MdalIMG{width: 800px; height: 500px}
.MdalIMG img{max-width: 100%;max-height: 100%;object-fit: contain; background: #474747; border-radius: 10px; padding: 5px;}

/*Ambos São a mesma coisa!*/
   .P-P.SEL{background:#0000ff !important;color: #ffffff}
.SelectSoma{background:#ff0000 !important; color:#ffffff}


.Fita1{border-right:4px solid #bb0092} /*Divisórias*/
.Fita2{border-left :4px solid #bb0092} /*Divisórias*/
.Destk .P-P{font-size:13px ; border-radius: 255px ; cursor: pointer}
.Font13 .T-T{font-size:13px}

.LnK > div:first-child{background: #0000ff1a;border-radius: 255px;border: 1px solid #0000ff4f;}

.Cropp{max-width: 100px !important;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;justify-content: start;} /*Deixa a Coluna com Limite de 100px*/

.Sugg.Atv  {background: #d822ab; color: #ffffff}
.CorID     {background:#94949473}


.GrifFora{left:20px;opacity:0.7}


/*Depois Analisar esse AutoCom*/
.CSS1 .TBLAA .Auto    {background: #a7a7a744 ; color: #696969;}
.CSS1 .TBLAA .Auto.Cor{background: #9dff00} /*Ver se isso realmente serve antes ffffff00*/
.CSS3 .TBLAA .Auto    {background: #f08cb64f}
.CSS3 .TBLAA .Auto.Cor{background: #9dff00} /*Ver se isso realmente serve antes ffffff00*/
